
/* set the background color  */
body {
    background-color: #23233e;
}

/* set the form container properties  */

.form-container {
    display: flex;
    flex-direction: column;
    padding: 5% 5%;
    background-color: #373762;
    border-radius: .48em;
    width: 60%;
    margin: 3em auto;

}

/* set the email container properties  */


.email-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

}



/* set the input container properties  */

.input-container {
    color: #9393b6;
    line-height: 1.4;
}



.input-group {
    display: flex;
    justify-content: space-between;
    width:100%;

}

/* set the input button properties  */

.input-button-form {
    border-radius: 5px;
    background-color: #373762;
    color: #9393b6;
    padding: .3em .98em;
    border: #9393b6 1px solid;
}

/* set the email container paragraph properties  */

.email-container > p {
    color: aqua;
    margin-bottom: 5px;
}


/* set the form logo properties  */

.hw-1 {
    width: 1.7em;
    height: auto;
    color: deeppink;
}
