/* Styles for airbnb form */
body {
    display: flex;
    justify-content: center;
}

.form-container {
    width: 40%;
    margin: 2em 2em;
    border: grey 1px solid;
    border-radius: 5px;
    padding: 10px;
}

.phone-group {
    display: flex;
    flex-direction: column;
}